<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="psx_cpl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <applicationSettings>
        <psx_cpl.Properties.Settings>
            <setting name="httpGuideDefaultFile" serializeAs="String">
                <value>idc\index.html</value>
            </setting>
            <setting name="httpDefaultPort" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="httpElfloaderDefaultPort" serializeAs="String">
                <value>5350</value>
            </setting>
            <setting name="httpElfloaderDefaultFile" serializeAs="String">
                <value>elfloader\index.html</value>
            </setting>
            <setting name="httpElfloaderUseDefaultFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="httpHTMLScaling" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ps4IP" serializeAs="String">
                <value>192.168.0.4</value>
            </setting>
            <setting name="dnsLocalOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="dnsForwardServer" serializeAs="String">
                <value>192.168.0.1</value>
            </setting>
            <setting name="ps4DefaultPort" serializeAs="String">
                <value>9020</value>
            </setting>
            <setting name="ps4UseDefaultPort" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="localIP" serializeAs="String">
                <value>192.168.0.3</value>
            </setting>
            <setting name="useLocalIP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="payloadDefaultFile" serializeAs="String">
                <value>ps4hen.bin</value>
            </setting>
            <setting name="payloadUseDefaultFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="openLogAfterStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="openElfloaderLogAfterStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="openProxyDumpAfterStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="proxyDumpDefaultRepsonseFile" serializeAs="String">
                <value>default_session.saz</value>
            </setting>
            <setting name="proxyDumpUseDefaultResponseFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="proxyDumpPort" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="httpGuideUseDefaultFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="httpUseDefaultPort" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="httpElfloaderUseDefaultPort" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="proxyDumpUsePort" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="proxyDumpSplitSessions" serializeAs="String">
                <value>False</value>
            </setting>
        </psx_cpl.Properties.Settings>
    </applicationSettings>
</configuration>